body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px auto;
    width: fit-content;
}

#items {
    field-sizing: content;
    min-height: 8rem;
    min-width: 24rem;
    resize: none;
    font-family: monospace;
}

#result-list {
    width: 100%;
}

#result-list > li:nth-child(1) {
    list-style-type: disclosure-closed;
}

#result-list > li.removed {
    text-decoration: line-through;
}

#controls {
    text-align: center;
}

#status {
    font-family: monospace;
}

#footer,
#footer * {
    text-align: center;
    font-size: smaller;
    color: #7e7e7e;
    margin: auto 0 8px 0;
}
