body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px auto;
    width: fit-content;
}

#items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 1em;
}

#item-input {
    field-sizing: content;
    min-height: 8rem;
    min-width: 24rem;
    resize: none;
    font-family: monospace;
}

#item-table {
    line-height: 1;
    font-family: monospace;
    border-collapse: collapse;
    display: none;
}

#item-table:has(tbody > tr) {
    display: unset;
}

#item-table > thead th {
    padding: 0 0.5em 4px 0.5em;
}

#item-list td {
    padding: 0;
    text-align: center;
}

#item-list td:nth-child(2)::before {
    content: attr(data-value);
}

#item-list:has(input:checked) td:nth-child(2)::before {
    content: '0%';
    opacity: 0.2;
}

#item-list tr:has(input:checked) td:nth-child(2)::before {
    content: '100%';
    opacity: 1;
}

#result-list {
    width: 100%;
}

#result-list > li:nth-child(1) {
    list-style-type: disclosure-closed;
}

#result-list > li.removed {
    text-decoration: line-through;
}

#controls {
    text-align: center;
}

#status {
    font-family: monospace;
}

#footer,
#footer * {
    text-align: center;
    font-size: smaller;
    color: #7e7e7e;
    margin: auto 0 8px 0;
}
